body {
  background-color: #0F1014;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #111111;
  width: 100%;
  height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}


/* пагінація */
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  margin: 0 4px;
  cursor: pointer;
}

.pagination li a {
  padding: 8px 12px;
  border: 1px solid #F4F4F4;
  border-radius: 4px;
  text-decoration: none;
  color: #F4F4F4;
}

.pagination li.active a {
  background-color: #EFF40B;
  color: #121212;
  border-color: #EFF40B;
}
/* пагінація */